<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="text-align: center;">Tu cuenta</h1>
  <div *ngFor="let item of list">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{item.prize}} €
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
